/* covered-by-your-grace-regular - latin */
@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/covered-by-your-grace-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/covered-by-your-grace-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/covered-by-your-grace-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/covered-by-your-grace-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/covered-by-your-grace-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/covered-by-your-grace-v15-latin-regular.svg#CoveredByYourGrace') format('svg'); /* Legacy iOS */
}
/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inconsolata-v31-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/inconsolata-v31-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v31-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v31-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/inconsolata-v31-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v31-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* share-tech-mono-regular - latin */
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/share-tech-mono-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/share-tech-mono-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/share-tech-mono-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/share-tech-mono-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/share-tech-mono-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/share-tech-mono-v15-latin-regular.svg#ShareTechMono') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Share Tech Mono";
}
