<!-- List citations by keyword -->
{{- $json_filepath := path.Join "data" "bib.json" }}
{{- $kwd := .Get 0 }}
{{- if fileExists $json_filepath -}}
{{- $bib := getJSON $json_filepath -}}
<div class ="box">
  {{ $supported_types := slice "article-journal" "thesis" "book" "webpage" "post-weblog" "motion_picture" }}
  {{ $articles := (where $bib "type" "article-journal") }}
  
  {{ $book_thesis_array := slice "book" "thesis" }}
  {{ $books_thesis := (where $bib "type" "in" $book_thesis_array) }}
  
  {{ $web_array := slice "post-weblog" "webpage" }}
  {{ $web_pages := (where $bib "type" "in" $web_array) }}
  
  {{ $videos := (where $bib "type" "motion_picture") }}
  
  {{ $others := where $bib "type" "not in" $supported_types }}
  
  {{ $names_dict := dict "Articles" $articles "Livres et Thèses" $books_thesis "Pages Web" $web_pages "Vidéos" $videos "Autres" $others }}
  
  {{ range $key, $val := $names_dict }}
  {{ $len := len $val }}
  {{ if gt $len 0 }}
  {{ $key }} <hr>
  {{ range $val }}
  {{- if in (lower .keyword) (lower $kwd) -}}
  <p>
    {{ if eq $key "Pages Web" }}
    {{ .title }} <a href="{{ .URL }}" title="{{ .title }}" target="_blank">{{ .URL }}</a>
    {{ else }}
    <!-- Author / editor -->
    {{- if or .author .editor -}}
    {{- if .author -}}
    {{- $n := len .author -}}
    {{- if le $n 2 -}}
    {{- range $index, $author := (first 2 .author) -}}
    {{- index . "non-dropping-particle" -}}{{- .family }}, {{ .given }}
    {{- if and (gt $n 1) ( eq $index 0) }} and {{ end -}}
    {{- end -}}
    {{- end -}}
    {{- if gt $n 2 }}
    {{- range first 1 .author}}
    {{- index . "non-dropping-particle" }}{{- .family }}, {{ .given }}{{- end }} et al.
    {{- end -}}
    {{- else -}}
    {{- if .editor }}
    {{- $n := len .editor }}
    {{- if le $n 2}}
    {{- range $index, $author := (first 2 .editor) }}
    {{- index . "non-dropping-particle" }}{{- .family }} {{- if and (gt $n 1) ( eq $index 0) }}and {{- end }}
    {{- end }}
    {{- end }}
    {{- if gt $n 2}}{{- range first 1 .editor}}{{- index . "non-dropping-particle" }} {{- .family }}{{- end }} et al.{{- end }}
    (Ed{{- if gt $n 1 }}s{{- end }}.)
    {{- end }}
    {{- end }}
    {{- end -}}
    <!-- Year -->
    {{ if .issued }}
    {{- range .issued }}
    {{- $year := print (first 1 .) }} (
    {{- strings.TrimRight "]" (strings.TrimLeft "[" $year) -}})
    </nbsp>
    {{- end -}}
    {{ end }}
    <!-- Title  -->
    {{- if or (eq .type "book") (eq .type  "thesis") -}}
    <em>{{ title .title }}</em>
    {{- else -}}
    {{ .title }}
    {{- end -}}
    {{- if ne (substr .title -1) "?" }}.{{ end }}
    <!-- Article -->
    {{- if in .type "article" -}}
    <i>{{ title (index . "container-title") }}</i>,
    {{- if .volume }} {{ .volume }}{{ end -}}
    {{- if .issue }}({{ .issue }}){{ end -}}
    {{- if .page }}, {{ replace .page "-" "–"}}{{ end -}}.
    {{- end -}}
    <!-- Book -->
    {{- if eq .type "book" -}}
    {{- if .publisher }}{{ .publisher}}.{{ end }}
    {{- end -}}
    <!-- Chapter -->
    {{- if eq .type "chapter" -}}
    In:
    {{ if .editor -}}
    {{- $n := len .editor }}
    {{- if le $n 2}}
    {{- range $index, $author := (first 2 .editor) }}
    {{- index . "non-dropping-particle" }}{{- .family }} {{- if and (gt $n 1) ( eq $index 0) }}and {{- end }}
    {{- end }}
    {{- end }}
    {{- if gt $n 2}}{{- range first 1 .editor}}{{- index . "non-dropping-particle" }} {{- .family }}{{- end }} et al.{{- end }}
    (Ed{{- if gt $n 1 }}s{{- end }}.),
    {{- end }}
    <i>{{ title (index . "container-title") }}</i>
    {{- $place := index . "publisher-place" -}}
    {{- if or .publisher $place }} ({{ end }}
    {{- if .publisher }}{{ .publisher}}{{ end }}
    {{- if and .publisher $place }}, {{ end }}
    {{- if $place }}{{ $place }}{{ end }}
    {{- if or .publisher (index . "publisher-place") }}){{ end -}}.
    {{- end -}}
    <!-- Thesis -->
    {{- if eq .type "thesis" -}}
    {{ .genre }}. {{ .publisher }}.
    {{- end -}}
    <!-- Conference -->
    {{- if eq .type "paper-conference" -}}
    In: <em>{{ title (index . "container-title")}}</em>, {{ index . "publisher-place" }}.
    {{- end -}}
    <!-- Report -->
    {{- if eq .type "report" -}}
    {{ .title }},
    {{- if .number }} ({{ .number }}).{{ end -}}
    {{- if .publisher }}{{ .publisher }}{{ end -}}.
    {{- end -}}
    <!-- Hyperlinks -->
    {{- if .DOI -}}
    doi: <a href="https://doi.org/{{ .DOI }}" title="{{ .title }}" target="_blank">{{ .DOI }}</a>.
    {{- end -}}
    {{- if and .URL (not .DOI) -}}
    <a href="{{ .URL }}" title="{{ .title }}" target="_blank">{{ .URL }}</a>.
    {{- end -}}
    {{ end }}
  </p>
  {{ end -}}
  {{- end -}}
  {{ end }}
  {{ end }}
</div>
{{- else -}}
<span class="has-background-danger has-text-white">ERROR</span>
{{- end -}}
